/**** GENERAL ****/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(122, 122, 122, 0.123)!important;
}

p{
    margin: 0!important; 
}

a{
    text-decoration: none!important;
}

i{
    padding-right:3px ;
}

.divider {
    width: auto;
    height: 1px;
    background: 
    #d4d4d47c;
    margin: 10px auto;
}
/**** NAVBAR ****/ 
.nav-link, .navbar-brand{
    color: rgba(236,0,140, 0.7)!important;
}

/*===============================*/
/*===============================*/

/**** affichage question ****/
.question{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top:20px;
    padding: 10px;
}

.question .info-question .heading-question{
    display: flex;
    align-items: center;
}
.question .info-question .heading-question a{
    color: rgba(236,0,140, 0.7)!important;
}

.title-question a{
    color: white!important;
}

.heading-question p:nth-child(2),.heading-question p:nth-child(3),.heading-question p:nth-child(4){
    padding-left: 10px;
}

.bubble{
    background:rgba(236,0,140, 0.404); 
    color:rgb(255, 255, 255); 
    padding:7px 15px; 
    border-radius:3px; 
}
.bubble .body-question .title-question h2{
    font-size: 23px;
}

.footer-question span{
    padding-left:5px ;
}

/*===============================*/
/*===============================*/

/****   ajout question   ****/
.form-control{
    color:rgba(236,0,140, 0.7)!important;
}
.form-control:focus {
    border-color: rgba(236,0,140, 0.7)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(236,0,140, 0.7)!important;
  }
.btn{
    background:rgba(236,0,140, 0.7)!important;
    color:white!important;
}

/*===============================*/
/*===============================*/

/**** page perso question ****/

/*--- partie formulaire reponse ---*/
.formulaire-reponse{
    padding-top: 20px!important;
}

/*--- partie reponse ---*/
.reponse{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top:20px;
    padding: 10px;
}

.reponse .info-reponse .heading-reponse{
    display: flex;
    align-items: center;
}
.reponse .info-reponse .heading-reponse a{
    color: rgba(55, 0, 236, 0.7)!important;
}

.title-reponse a{
    color: white!important;
}

.heading-reponse p:nth-child(2),.heading-reponse p:nth-child(3){
    padding-left: 10px;
}

.bubble-reponse{
    background:rgba(55, 0, 236, 0.404); 
    color:rgb(255, 255, 255); 
    padding:7px 15px; 
    border-radius:3px; 
}
.bubble-reponse .body-reponse .title-reponse h2{
    font-size: 23px;
}

/*===============================*/
/*===============================*/

/**** profil-utilisateur ****/
.title-profil{
    margin-top: 20px;
    color:rgba(236,0,140, 0.404);
}

/*===============================*/
/*===============================*/

/**** page administration ****/ 
.admin{
    color:rgba(236,0,140, 0.404);
}

.cross-btn{
    color:red!important;
    font-size: 35px!important;
}

/*===============================*/
/*===============================*/

/**** page-perso-profil ****/
.form-profil{
    margin-top: 150px;
    color:#ec008c;
}
.form-profil .container{
    width: 370px!important;
    padding: 10px!important;
    background-color: rgba(100, 100, 100, 0.137)!important;
    border-radius: 20px!important;
    
}
.form-profil img{
    margin-bottom:10px;
}
.form-profil button{
    border: none!important;
}
/*===============================*/
/*===============================*/

/**** formulaire connexion/inscription ****/
.bodyForm{
    background-color: #EBECF0;
}

.bodyForm, .titre, .inputForm, textarea, .buttonForm {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

.segement, h1 {
    color: #ec008c;
    text-shadow: 1px 1px 1px #FFF;
}
/*--- style du formulaire ---*/ 

.formContactIncri {
    padding: 16px;
    width: 320px;
    margin: 0 auto;
}

.segment {
    padding: 32px 0;
    text-align: center;
}

.buttonForm, .inputForm {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
}

.labelForm {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

.inputForm {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
.inputForm:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.buttonForm {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}
.buttonForm:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.buttonForm:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.buttonForm.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px;
}
.buttonForm.unit  {
    margin-right: 0;
}
.buttonForm {
    display: block;
    width: 100%;
    color: #ec008c;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.input-group .labelForm{
    margin: 0;
    flex: 1;
}
#inscrire{
    margin-top: 15px;
}
#btn-connexion  {
    color:#ec008c;
}

/*===============================*/
/*===============================*/

/**** traitement erreur ****/
.erreur {
    color: #FF0000;
}